/* Big */.themo-slider .caption.big_orange {
  position: absolute;
  color: #fff;
  font-weight: 800;
  font-size: 42px;
  line-height: 42px;
  font-family: 'Open Sans',sans-serif;
  padding: 8px 15px 11px 15px;
  letter-spacing: -1.5px;
  background-color: #ffad22;
  background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#ffc53e),color-stop(100%,#f38a02));
  background-image: -webkit-linear-gradient(#ffc53e,#f38a02);
  background-image: -moz-linear-gradient(#ffc53e,#f38a02);
  background-image: -o-linear-gradient(#ffc53e,#f38a02);
  background-image: linear-gradient(#ffc53e,#f38a02);
  -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset,3px 3px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset,3px 3px 5px rgba(0,0,0,0.3);
  -o-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset,3px 3px 5px rgba(0,0,0,0.3);
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset,3px 3px 5px rgba(0,0,0,0.3);
  -moz-text-shadow: 0px -1px rgba(223,127,3,0.8);
  text-shadow: 0px -1px rgba(223,127,3,0.8);
}

.themo-slider .caption.big_green {
  position: absolute;
  color: #fff;
  font-weight: 800;
  font-size: 42px;
  line-height: 42px;
  font-family: 'Open Sans',sans-serif;
  padding: 8px 15px 11px 15px;
  letter-spacing: -1.5px;
  background-color: #8fd400;
  background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#abf70e),color-stop(100%,#8fd400));
  background-image: -webkit-linear-gradient(#abf70e,#8fd400);
  background-image: -moz-linear-gradient(#abf70e,#8fd400);
  background-image: -o-linear-gradient(#abf70e,#8fd400);
  background-image: linear-gradient(#abf70e,#8fd400);
  -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset,3px 3px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset,3px 3px 5px rgba(0,0,0,0.3);
  -o-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset,3px 3px 5px rgba(0,0,0,0.3);
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset,3px 3px 5px rgba(0,0,0,0.3);
  -moz-text-shadow: 0px -1px rgba(132,196,0,0.8);
  text-shadow: 0px -1px rgba(132,196,0,0.8);
}

.themo-slider .caption.big_blue {
  position: absolute;
  color: #fff;
  font-weight: 800;
  font-size: 42px;
  line-height: 42px;
  font-family: 'Open Sans',sans-serif;
  padding: 8px 15px 11px 15px;
  letter-spacing: -1.5px;
  background-color: #009bcd;
  background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#00c6e4),color-stop(100%,#0063a8));
  background-image: -webkit-linear-gradient(#00c6e4,#0063a8);
  background-image: -moz-linear-gradient(#00c6e4,#0063a8);
  background-image: -o-linear-gradient(#00c6e4,#0063a8);
  background-image: linear-gradient(#00c6e4,#0063a8);
  -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset,3px 3px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset,3px 3px 5px rgba(0,0,0,0.3);
  -o-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset,3px 3px 5px rgba(0,0,0,0.3);
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset,3px 3px 5px rgba(0,0,0,0.3);
  -moz-text-shadow: 0px -1px rgba(10,60,109,0.8);
  text-shadow: 0px -1px rgba(10,60,109,0.8);
}

.themo-slider .caption.big_grey {
  position: absolute;
  color: #fff;
  font-weight: 800;
  font-size: 42px;
  line-height: 42px;
  font-family: 'Open Sans',sans-serif;
  padding: 8px 15px 11px 15px;
  letter-spacing: -1.5px;
  background-color: #7e8e96;
  -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset;
  -o-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset;
}

.themo-slider .caption.big_grey_smaller {
  position: absolute;
  color: #fff;
  font-weight: 800;
  font-family: 'Open Sans',sans-serif;
  letter-spacing: -1.5px;
  font-size: 36px;
  line-height: 36px;
  padding: 5px 10px 7px 10px;
  color: #fff;
  background-color: #7e8e96;
  -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset;
  -o-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset;
}

.themo-slider .caption.big_navy {
  position: absolute;
  color: #fff;
  text-shadow: none;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  font-family: 'Open Sans',sans-serif;
  padding: 3px 10px;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  background-color: #4e5b6c;
  letter-spacing: 0;
}

.themo-slider .caption.big_red {
  position: absolute;
  color: #fff;
  text-shadow: none;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  font-family: 'Open Sans',sans-serif;
  padding: 3px 10px;
  padding-top: 1px;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  background-color: #de543e;
  letter-spacing: 0;
}

.themo-slider .caption.big_fern_green {
  position: absolute;
  color: #fff;
  text-shadow: none;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  font-family: 'Open Sans',sans-serif;
  padding: 3px 10px;
  padding-top: 1px;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  background-color: #8fd400;
  letter-spacing: 0;
}

.themo-slider .caption.big_fat {
  position: absolute;
  color: #000;
  text-shadow: none;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  font-family: 'Open Sans',sans-serif;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  white-space: nowrap;
}

.themo-slider .caption.big_fat_white {
  position: absolute;
  color: #fff;
  text-shadow: none;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  font-family: 'Open Sans',sans-serif;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  white-space: nowrap;
}

.themo-slider .caption.large_text {
  position: absolute;
  color: #fff;
  font-weight: 800;
  font-size: 36px;
  line-height: 36px;
  font-family: 'Open Sans',sans-serif;
  white-space: nowrap;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.themo-slider .caption.large_black_text {
  position: absolute;
  color: #000;
  font-weight: 800;
  font-size: 36px;
  line-height: 36px;
  font-family: 'Open Sans',sans-serif;
  padding: 0px;
  white-space: nowrap;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.themo-slider .caption.big_text {
  position: absolute;
  color: #fff;
  font-weight: 300;
  font-size: 42px;
  line-height: 42px;
  font-family: 'Open Sans',sans-serif;
  white-space: nowrap;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.themo-slider .caption.big_black_text {
  position: absolute;
  color: #000;
  font-weight: 300;
  font-size: 42px;
  line-height: 42px;
  font-family: 'Open Sans',sans-serif;
  white-space: nowrap;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.themo-slider .caption.big_white_text {
  position: absolute;
  color: #fff;
  font-weight: 500;
  font-size: 44px;
  line-height: 44px;
  font-family: 'Open Sans',sans-serif;
  white-space: nowrap;
}

.themo-slider .caption.big_white_bold_text {
  position: absolute;
  color: #fff;
  font-weight: 800;
  font-size: 42px;
  line-height: 42px;
  font-family: 'Open Sans',sans-serif;
  white-space: nowrap;
  -moz-text-shadow: 0px -1px rgba(0,0,0,0.3);
  text-shadow: 0px -1px rgba(0,0,0,0.3);
}

.themo-slider .caption.very_big_grey {
  position: absolute;
  color: #fff;
  font-weight: 800;
  font-size: 42px;
  line-height: 42px;
  font-family: 'Open Sans',sans-serif;
  padding: 3px 4px;
  letter-spacing: -1.5px;
  background-color: #7e8e96;
  -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset;
  -o-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.7) inset;
}

.themo-slider .caption.very_big_text {
  position: absolute;
  color: #fff;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
  font-family: 'Open Sans',sans-serif;
  white-space: nowrap;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.themo-slider .caption.very_big_black_text {
  position: absolute;
  color: #000;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
  font-family: 'Open Sans',sans-serif;
  white-space: nowrap;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.themo-slider .caption.very_big_white_text {
  position: absolute;
  color: #6b2c47;
  font-weight: 300;
  font-size: 60px;
  line-height: 60px;
  font-family: 'Open Sans',sans-serif;
  white-space: nowrap;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.themo-slider .caption.medium_white {
  position: absolute;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #000;
  background-color: #FFF;
  font-family: 'Open Sans',sans-serif;
  letter-spacing: -1px;
  -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  -o-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  padding: 8px 12px 11px 12px;
}

.themo-slider .caption.medium_white_smaller {
  position: absolute;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  font-family: Arial;
  font-weight: bold;
  color: #000;
  background-color: #FFF;
  padding: 8px 12px;
}

.themo-slider .caption.medium_white_bg {
  position: absolute;
  font-family: 'Open Sans',sans-serif;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0px;
  font-weight: 600;
  color: #787878;
  background-color: #FFF;
  padding: 5px 12px;
}

.themo-slider .caption.medium_grey {
  position: absolute;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #FFF;
  background-color: #888;
  font-family: 'Open Sans',sans-serif;
  letter-spacing: -1px;
  -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  -o-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  padding: 8px 12px 11px 12px;
}

.themo-slider .caption.medium_black {
  position: absolute;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #FFF;
  background-color: #000;
  font-family: 'Open Sans',sans-serif;
  letter-spacing: -1px;
  -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  -o-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  padding: 8px 12px 11px 12px;
}

.themo-slider .caption.medium_black_smaller {
  position: absolute;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  color: #FFF;
  background-color: #000;
  font-family: 'Open Sans',sans-serif;
  padding: 3px 4px;
  -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  -o-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.themo-slider .caption.medium_orange {
  position: absolute;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #ec5923;
  background-color: #FFF;
  font-family: 'Open Sans',sans-serif;
  letter-spacing: -1px;
  -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  -o-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  padding: 8px 12px 11px 12px;
}

.themo-slider .caption.medium_black_text {
  position: absolute;
  color: #3d3d3d;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  font-family: 'Open Sans',sans-serif;
}

.themo-slider .caption.medium_green_text {
  position: absolute;
  color: #A0CE4E;
  font-size: 24px;
  line-height: 24px;
  font-family: Helvetica,Arial,sans-serif;
}

.themo-slider .caption.medium_text {
  position: absolute;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Open Sans',sans-serif;
  white-space: nowrap;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.themo-slider .caption.medium_fat {
  position: absolute;
  color: #000;
  text-shadow: none;
  font-weight: 800;
  font-size: 24px;
  line-height: 20px;
  font-family: 'Open Sans',sans-serif;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  white-space: nowrap;
}

.themo-slider .caption.medium_fat_white {
  position: absolute;
  color: #fff;
  text-shadow: none;
  font-weight: 800;
  font-size: 24px;
  line-height: 20px;
  font-family: 'Open Sans',sans-serif;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  white-space: nowrap;
}

.themo-slider .caption.medium_light {
  position: absolute;
  color: #000;
  text-shadow: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 20px;
  font-family: 'Open Sans',sans-serif;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  white-space: nowrap;
}

.themo-slider .caption.small_white {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial;
  white-space: nowrap;
  color: #000;
  background-color: #fff;
  padding: 4px 8px;
}

.themo-slider .caption.small_white2 {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial;
  white-space: nowrap;
  color: #000;
  background-color: #fff;
  padding: 0px 1px;
}

.themo-slider .caption.small_white3 {
  position: absolute;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-family: Arial;
  white-space: nowrap;
  color: #000;
  background-color: #fff;
  background-color: rgba(255,255,255,0.6);
  padding: 5px 8px;
}

.themo-slider .caption.small_black {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial;
  white-space: nowrap;
  color: #fff;
  background-color: #000;
  padding: 4px 8px;
}

.themo-slider .caption.small_text {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial;
  white-space: nowrap;
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.themo-slider .caption.small_fade_text {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial;
  white-space: nowrap;
  color: #fff;
}

.themo-slider .caption.small_dark_text {
  position: absolute;
  color: #555;
  text-shadow: none;
  font-size: 14px;
  line-height: 22px;
  font-family: Arial;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  white-space: nowrap;
}

.themo-slider .caption.bold_red_text {
  position: absolute;
  color: #d31e00;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Open Sans',sans-serif;
  margin: 0px;
  white-space: nowrap;
}

.themo-slider .caption.bold_brown_text {
  position: absolute;
  color: #a04606;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Open Sans',sans-serif;
  white-space: nowrap;
}

.themo-slider .caption.bold_green_text {
  position: absolute;
  color: #5b9830;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Open Sans',sans-serif;
  white-space: nowrap;
}

.themo-slider .caption.bold_blue_text {
  position: absolute;
  color: #0063a6;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Open Sans',sans-serif;
  white-space: nowrap;
}

.themo-slider .caption.no_box_shadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.themo-slider .caption.no-text-shadow {
  text-shadow: none;
}

.themo-slider .caption a {
  color: #ffa306;
  text-shadow: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
}

.themo-slider .caption a:hover {
  color: #ff9204;
}

.themo-slider .button {
  padding: 6px 13px 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  height: 30px;
  cursor: pointer;
  color: #fff !important;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.6) !important;
  line-height: 45px !important;
  background: url(themo-slider/g30.png) repeat-x top;
  font-size: 15px;
  font-family: arial,sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  text-decoration: none;
}

.themo-slider .button.big {
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
  padding: 9px 20px;
  font-size: 19px;
  font-weight: bold;
  line-height: 57px !important;
  background: url(themo-slider/g40.png) repeat-x top;
}

.purchase:hover,.themo-slider .button:hover,.themo-slider .button.big:hover {
  background-position: bottom,15px 11px;
}/* Red */.themo-slider .button.red,.themo-slider .button:hover.red,.purchase.red,.purchase:hover.red {
  background-color: #cb1d1d;
  -webkit-box-shadow: 0px 3px 0px 0px #7c1212;
  -moz-box-shadow: 0px 3px 0px 0px #7c1212;
  box-shadow: 0px 3px 0px 0px #7c1212;
}

.themo-slider .button.green,.themo-slider .button:hover.green,.purchase.green,.purchase:hover.green {
  background-color: #21a117;
  -webkit-box-shadow: 0px 3px 0px 0px #104d0b;
  -moz-box-shadow: 0px 3px 0px 0px #104d0b;
  box-shadow: 0px 3px 0px 0px #104d0b;
}

.themo-slider .button.blue,.themo-slider .button:hover.blue,.purchase.blue,.purchase:hover.blue {
  background-color: #1d78cb;
  -webkit-box-shadow: 0px 3px 0px 0px #0f3e68;
  -moz-box-shadow: 0px 3px 0px 0px #0f3e68;
  box-shadow: 0px 3px 0px 0px #0f3e68;
}

.themo-slider .button.orange,.themo-slider .button:hover.orange,.purchase.orange,.purchase:hover.orange {
  background-color: #f70;
  -webkit-box-shadow: 0px 3px 0px 0px #a34c00;
  -moz-box-shadow: 0px 3px 0px 0px #a34c00;
  box-shadow: 0px 3px 0px 0px #a34c00;
}

.themo-slider .button.darkgrey,.themo-slider .button.grey,.themo-slider .button:hover.darkgrey,.themo-slider .button:hover.grey,.purchase.darkgrey,.purchase:hover.darkgrey {
  background-color: #555;
  -webkit-box-shadow: 0px 3px 0px 0px #222;
  -moz-box-shadow: 0px 3px 0px 0px #222;
  box-shadow: 0px 3px 0px 0px #222;
}

.themo-slider .button.lightgrey,.themo-slider .button:hover.lightgrey,.purchase.lightgrey,.purchase:hover.lightgrey {
  background-color: #888;
  -webkit-box-shadow: 0px 3px 0px 0px #555;
  -moz-box-shadow: 0px 3px 0px 0px #555;
  box-shadow: 0px 3px 0px 0px #555;
}

@media only screen and (min-width:480px) and (max-width:767px) {
  .themo-slider .button {
    padding: 4px 8px 3px;
    line-height: 25px !important;
    font-size: 11px !important;
    font-weight: normal;
  }

  .themo-slider a.button {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
  }

  .themo-slider .button.big {
    padding: 6px 15px;
    font-size: 12px;
  }
}

@media only screen and (min-width:0px) and (max-width:479px) {
  .themo-slider .button {
    padding: 2px 5px 2px;
    line-height: 20px !important;
    font-size: 10px !important;
  }

  .themo-slider a.button {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
  }

  .themo-slider .button.big {
    padding: 3px 10px;
    font-size: 11px;
  }
}
